body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: white;
    position: relative;
    overflow-y: auto;
}

header {
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    position: relative;
}
.profile-pic {
    width: 750px;
    height: 500px;
    border-radius: 50%;
    border: 3px solid cyan;
    margin-bottom: 20px;
}

.social-links {
    margin-top: 15px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.social-links a {
    color: white;
    font-size: 1.8em;
    transition: 0.3s ease-in-out;
}

.social-links a:hover {
    color: cyan;
    transform: scale(1.2);
    text-shadow: 0 0 10px cyan;
}

.intro-container {
    max-width: 800px;
    background: rgba(0, 0, 0, 0.6); 
    padding: 30px 50px 30px 50px;
    margin-top: 100px;
    border-radius: 15px; 
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5); 
    text-align: center;
    color: white;
    backdrop-filter: blur(10px);
    align-items: center;
}

.interactive-text {
    text-align: center;
    line-height: 2;
}

.timeline {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timeline-title {
    align-items: center;
    text-align: center;
    margin: 30px auto;
    font-size: 2rem;
    padding: 10px 0;
}

.line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    background: rgba(0, 255, 255, 0.2);
    transform: translateX(-50%);
}

.dot {
    width: 15px;
    height: 15px;
    background: cyan;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px cyan;
}


.event {
    position: relative;
    width: 45%;
    margin: 10px -10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    opacity: 1 !important;
    transform: translateX(0) !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.event:hover {
    transform: scale(1.05);
    background: rgba(0, 255, 255, 0.2);
    filter: blur(0);
    box-shadow: 0 0 15px cyan;
}


.event:nth-child(odd) {
    align-self: flex-start;
    transform: translateX(-30px);
    text-align: left;
    transform-origin: right center;
}

.event:nth-child(even) {
    align-self: flex-end;
    transform: translateX(30px);
    text-align: left;
    transform-origin: left center;
}

.event.active {
    width: 90%;
    max-width: 600px;
    background: rgba(0, 255, 255, 0.2);
    box-shadow: 0 0 20px cyan;
    padding: 30px;
}

.event-details {
    display: none;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.event.active .event-details {
    display: block;
    opacity: 1;
}

.section {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: ˇㄢpx;
    opacity: 1 !important;
    visibility: visible !important;
}

@keyframes matrix-glitch {
    0% { content: "01001101"; }
    20% { content: "01101110"; }
    40% { content: "10010111"; }
    60% { content: "Intro101"; }
    80% { content: "Introduc0"; }
    100% { content: "Introduction"; }
}

.matrix-title::before {
    content: "01010101";
    font-size: 2rem;
    color: rgb(24, 255, 247);
    animation: matrix-glitch 2s steps(5) forwards;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}

#skills {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#skills h2 {
    margin: 30px auto;
    font-size: 2rem;
    padding: 10px 0;
}

.skill-card {
    width: 250px;
    height: 150px;
    perspective: 1000px;
    cursor: pointer;
}

.skill-card:hover {
    transform: scale(1.05);
    background: rgba(0, 255, 255, 0.2);
    filter: blur(0);
    box-shadow: 0 0 15px cyan;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
}

.card-front {
    background: rgba(0, 255, 255, 0.2);
}

.card-back {
    background: rgba(255, 255, 255, 0.15);
    transform: rotateY(180deg);
}

.flipped .card-inner {
    transform: rotateY(180deg);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    font-size: 16px;
    padding: 8px;
    position: relative;
}

ul li::before {
    content: "•";
    color: rgb(255, 255, 255);
    font-size: 18px;
    position: absolute;
    left: -10px;
}

footer {
    position: relative;
    text-align: center;
}

/* ---- particles.js container ---- */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #232741; 
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 50%;
}

#particles-js::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 255, 255, 0.2), transparent 70%);
    animation: pulse 5s infinite;
}

#particles-js::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0, 255, 255, 0.1), rgba(255, 0, 255, 0.1));
    mix-blend-mode: overlay;
    animation: gradient-shift 8s infinite alternate;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.4;
    }
}

@keyframes gradient-shift {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13e8e9;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.js-count-particles {
    font-size: 1.1em;
}
#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}
#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
.count-particles {
    border-radius: 0 0 3px 3px;
}

